{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
<body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block prev %}
{% endblock %}
{% block close %}
{% endblock %}

{% block page_content %}
    <div class="content-detail">
        <div class="row rowList">
        	<div class="list_header">
       			<a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i> Favoris</a>
       		</div>
        </div>
    </div>
{% endblock %}