{% extends "base_login.html.twig" %}

{% block page_content %}
    <div class="row" id="presentation">
        <div class="col-xs-12 text-important" >
            <div class="text-center">
                Envie de saveurs authentiques ?<br/>
                L'application qui vous permet de trouver les produits régionaux de qualité et de terroir près de chez vous.
                <br>
                Découvrez, sélectionnez, commandez, réservez, mémorisez vos préférences et partager-les avec vos amis.
            </div>
        </div>
    </div>

    <div class="row" id="inscript">
        <div class="col-xs-6">
            <a href="{{ path_for("app.register.form") }}" class="btn btn-violet">Inscription</a>
        </div>
        <div class="col-xs-6">
            <a href="{{ path_for("app.login.form") }}" class="btn btn-vert">Connexion</a>
        </div>
    </div>
{% endblock %}
