{% extends "base.html.twig" %}

{% block bodyOpenTag %}
<body class="page" id="holder" style="color: #ffffff;">
{% endblock %}
{% block bodyContent %}
        <div id="close"><a href="{{ path_for("map.homepage") }}">x</a></div>
        <div class="container">
            {% block page_content %}
            {% endblock %}
        </div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/web/js/main.js"></script>
{% endblock %}
</body>
{% endblock %}


