<!doctype html>
<html lang="fr">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=no"/>

        {% block stylesheets %}
            <link href="/web/css/bootstrap.css" rel="stylesheet">
            <link href="/web/css/hover.css" rel="stylesheet" media="all"/>
            <link href="/web/css/load.css" rel="stylesheet" media="all"/>
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet'
                  type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
                  media="all">
            <link href="/web/css/jquery.mmenu.all.css" type="text/css" rel="stylesheet"/>
            <link rel="stylesheet" type="text/css" href="/web/style.css"/>
            <link rel="stylesheet" href="/web/custom.css">
            <link rel="stylesheet" href="/web/icomoon.css">
            <link rel="stylesheet" href="/web/css/slick.css">
            <link rel="stylesheet" href="/web/css/jquery-jvectormap-2.0.3.css">
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/web/images/favicon144.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/web/images/favicon72.png">
        <link rel="apple-touch-icon-precomposed" href="/web/images/favicon57.png">
        <link rel="shortcut icon" sizes="196x196" href="/web/images/favicon196.png">
        <link rel="shortcut icon" href="/web/images/favicon.png">
        <title>{% block title %}Bovimarket{% endblock %}</title>
    {% endblock %}
</head>
{% block bodyOpenTag %}
<body class="home" id="holder">
{% endblock %}
{% block bodyContent %}


    <div id="page" style="overflow:hidden;">
        <div class="header hidden" id="Menu1">
            <a href="#menu"></a>
        </div>

        <div class="header hidden" id="Menu2">
            <a href="#favoris"></a>
        </div>

        <div class="header hidden" id="Menu3">
            <a href="#amis"></a>
        </div>

        {% if isLogged %}
        <div class="header hidden" id="Menu4">
            <a href="#mon-compte"></a>
        </div>
        {% endif %}
        
        {% include("Blocks/nav.html.twig") %}

        <div id="content">
            <div class="header" id="qrcode">
	        	<a class="link" href="{{ path_for("flash.qrcode") }}" data-color="#ffffff"></a>
	        </div>
            {% include("Blocks/filters.html.twig") %}

           	<div id="map"></div>
           	<div id="list">
           		<div class="list_header">
           			<a href="#" id="back-list"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour à la carte</a>
           		</div>
           		<div class="list_filter">
           			<i class="fa fa-search" aria-hidden="true"></i>
           			<input id="filter_search" type="text" value="" placeholder="Filtrer la liste paysage" />
           		</div>
           		<div class="list_container">
           		
           		</div>
           	</div>
            
           	<a href="#list" id="switch-list" class="fa fa-list-ol"></a>
        </div>
    </div>

{% block javascripts %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/web/js/bootstrap.js"></script>
    <script src="/web/js/slick.min.js"></script>

    <script type="text/javascript">
        /*alsolike(
                "RWBQRM", "Flexbox Products interaction",
                "aOQddB", "Open & Close Animation",
                "wBOder", "Subtle Icons hover effect"
        );*/
    </script>
    <script type="text/javascript" src="/web/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("nav#menu").mmenu({});
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("nav#favoris").mmenu({
                "extensions": [
                    "effect-menu-zoom"
                ]
            });
        });
    </script>
	<script type="text/javascript">
	    jQuery(document).ready(function ($) {
	        $("nav#favoris").mmenu({
	            "extensions": [
	                "effect-menu-zoom"
	            ]
	        });
			$(".nav3 a").click(showFilters) ;
	        $(".nav5 a").click(showAccountMenu) ;
	        $('#back-menu-compte').click(showAccountMenu) ;
	    });
	</script>
    <script type="text/javascript">
        /*(function () {
            var ul = $("#navs"), li = $("#navs li"), i = li.length, n = i - 1, r = 140;
            ul.click(function () {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    for (var a = 0; a < i; a++) {
                        li.eq(a).css({
                            'transition-delay': "" + (100 * a) + "ms",
                            '-webkit-transition-delay': "" + (200 * a) + "ms",
                            'left': (r * Math.cos(90 / n * a * (Math.PI / 90))),
                            'top': (-r * Math.sin(90 / n * a * (Math.PI / 90)))
                        });
                    }
                } else {
                    li.removeAttr('style');
                }
            });
        })($);*/
    </script>
    <script src="/web/js/main.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDo4E92LZc9OiUsQFIi4wtyHeay-Y0KQ7c"></script>
    <script type="text/javascript">
        var center = new google.maps.LatLng(45.7833, 3.0833);
        var mapElement = document.getElementById('map');
        var mapOptions = {
            zoom: 9,
            center: center,
            styles: [{
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
            }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
            }, {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{"color": "#dedede"}, {"lightness": 21}]
            }, {
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "elementType": "labels.text.fill",
                "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
            }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
            }]
        };
        var map;
        var current_position ;
        var aMarkers = [] ;
        var aMarkersInfos = [] ;
        google.maps.event.addDomListener(window, 'load', init);
        
        function maPosition(position)
	    {
			lat = position.coords.latitude;
			lon = position.coords.longitude;
			
			current_position = new google.maps.LatLng(lat, lon) ;
			
			map.setCenter(current_position);
		}
		
		function erreurPosition(error)
		{
		
		}
        
        function init()
        {
            map = new google.maps.Map(mapElement, mapOptions);
            {% block afterMapInit %}
            {% endblock %}
            
            var geocoder = new google.maps.Geocoder();
			if (navigator.geolocation)
			{
				navigator.geolocation.getCurrentPosition(maPosition, erreurPosition,{timeout:10000,maximumAge:600000});
	    	}
	    	
	    	MapFilters.init() ;
        }
    </script>
    <script src="/web/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/web/js/jquery_map-fr_merc.js"></script>
{% endblock javascripts %}
{% endblock %}
</body>
</html>