{% extends "base_blanche.html.twig" %}

{% block page_content %}
    {% if live %}
        <div class="row">
            <div class="qrCodeReader" style="height: 400px">
            </div>
        </div>
    {% else %}
        <div class="row">
            {% for categ,photo in paths %}
                {% if photo %}
                    {% set url =path_for("flash.categorie",{"categ":categ,"id":1,"idProducteur":photo}) %}
                {% else %}
                    {% set url =path_for("flash.categorie",{"categ":categ,"id":1}) %}
                {% endif %}
                <a href="{{ url }}">
                    <div class="col-xs-6" style="height:50vh;">
                        <!--<img class="Photo" src="{{ photo }}" alt="..."/>-->
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/web/js/jsqrcode-combined.min.js"></script>
    <script src="/web/js/html5-qrcode.min.js"></script>
    <script type="text/javascript">
        $('.qrCodeReader').html5_qrcode(
                function (data) {
                    if (data.slice(0, 4) !== "http") {
                        data = "http://" + data;
                    }
                    document.location.href = data;
                },
                function (error) {
                    console.log(error)
                }, function (videoError) {
                    alert("Erreur Video");
                }
        );
    </script>
{% endblock %}

