{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title IconeCuisson">La cuisson</h1>
            <p>Le {{ morceau.nom }} est une viande à
                {% for cuisson in cuissons %}
                    <a class="link"
                       href="{{ path_for("flash.cuissons_detail",{"categ":morceau.typeViande,"idMorceau":morceau.id,"idCuisson":cuisson.id}) }}"
                       data-color="#ffffff">
                        {{ cuisson.nom }}
                    </a>
                    {% if loop.revindex0 == 1 %}
                        ou à
                    {% else %}
                        ,&nbsp;
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                {% for cuisson in cuissons %}
                    {% include "Block/cuisson.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                {{ morceau.conseilsCuisson }}
            </p>
        </div>
    </div>
{% endblock %}
