<div id="filters">
	<div id="filters-label" class="slide">
		<div class="bar">
			<label>Quoi ?</label>
			<a href="#" id="filter_label_all" filter-type="label" filter-value="all">Tous</a>
			<a href="#" id="filter_label_nothing" filter-type="label" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list">
				<li><a href="#" id="filter_label_0" class="filter_label selected" filter-type="label" filter-value="5672cd8c3584ba1cdcdcf89b">L'Agneau de Lozère</a></li>
				<li><a href="#" id="filter_label_1" class="filter_label selected" filter-type="label" filter-value="5672cd883584ba1cdcdcf840">Le Boeuf Blond d'Aquitaine</a></li>
				<li><a href="#" id="filter_label_3" class="filter_label selected" filter-type="label" filter-value="59d37947e4b06861bd6dec6e">Porc des Combrailles</a></li>
				<li><a href="#" id="filter_label_3" class="filter_label selected" filter-type="label" filter-value="59d3c8b0e4b051c621b52a04">Agneau Noir du Velay</a></li>
				<li><a href="#" id="filter_label_3" class="filter_label selected" filter-type="label" filter-value="588b6bd7b48d050db0d21f8e">Lentille Verte du Puy</a></li>
			</ul>
		</div>
	</div>
	<div id="filters-what" class="slide">
		<div class="bar">
			<label>Recherche</label>
			<a href="#" id="filter_all_all" filter-type="all" filter-value="all">Tous</a>
			<a href="#" id="filter_all_nothing" filter-type="all" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list list-tiers">
				<li>
					<a href="#" id="filter_what_group_1" class="filter_what selected" filter-type="what" filter-value="BOEUF,VEAU,PORC,MOUTON,AGNEAU">Viande</a>
					<ul>
						<li><a href="#" id="filter_what_1" class="filter_what selected" filter-type="what" filter-value="BOEUF">Boeuf</a></li>
						<li><a href="#" id="filter_what_2" class="filter_what" filter-type="what" filter-value="VEAU">Veau</a></li>
						<li><a href="#" id="filter_what_3" class="filter_what selected" filter-type="what" filter-value="PORC">Porc</a></li>
						<li><a href="#" id="filter_what_4" class="filter_what selected" filter-type="what" filter-value="MOUTON">Mouton</a></li>
						<li><a href="#" id="filter_what_5" class="filter_what selected" filter-type="what" filter-value="AGNEAU">Agneau</a></li>
			 		</ul>
			 	</li>
			 	<li>
					<a href="#" id="filter_what_group_2" class="filter_what" filter-type="what" filter-value="POULET,OIE,CANARD,ESCARGOT">Volaille</a>
					<ul>
						<li><a href="#" id="filter_what_6" class="filter_what" filter-type="what" filter-value="POULET">Poulet</a></li>
						<li><a href="#" id="filter_what_7" class="filter_what" filter-type="what" filter-value="OIE">Oie</a></li>
						<li><a href="#" id="filter_what_8" class="filter_what" filter-type="what" filter-value="CANARD">Canard</a></li>
						<li><a href="#" id="filter_what_9" class="filter_what" filter-type="what" filter-value="ESCARGOT">Escargot</a></li>
			 		</ul>
			 	</li>
			 	<li>
					<a href="#" id="filter_what_10" class="filter_what" filter-type="what" filter-value="POISSON">Poisson</a>
					<a href="#" id="filter_what_11" class="filter_what" filter-type="what" filter-value="LEGUMES">Legumes</a>
					<a href="#" id="filter_what_12" class="filter_what" filter-type="what" filter-value="FRUITS">Fruits</a>
					<a href="#" id="filter_what_13" class="filter_what" filter-type="what" filter-value="FROMAGES">Fromage</a>
					<a href="#" id="filter_what_14" class="filter_what" filter-type="what" filter-value="PAIN">Pain</a>
			 	</li>
			 </ul>
		</div>
		<ul class="list nav-bot-left">
			<li><a href="#" class="filter_label selected" filter-type="label" filter-value="all">Avec label</a></li>
			<li><a href="#" class="filter_label" filter-type="label" filter-value="nothing">Sans label</a></li>
		</ul>
		<ul class="list nav-bot-right">
			<li><a href="#" class="filter_who selected" filter-type="who" filter-value="ELEVEUR">Producteurs</a></li>
			<li><a href="#" class="filter_who selected" filter-type="who" filter-value="ARTISAN,DISTRIBUTEUR,RESTAURANT,RESTAURATION_COLLECTIVE">Distributeurs</a></li>
			<li><a href="#" class="filter_who selected" filter-type="who" filter-value="ABATTOIR,NEGOCIANT,FILIERE">Intermédiares</a></li>
		</ul>
	</div>	
	<div id="filters-who" class="slide">
		<div class="bar">
			<label>Qui ?</label>
			<a href="#" id="filter_who_all" filter-type="who" filter-value="all">Tous</a>
			<a href="#" id="filter_who_nothing" filter-type="who" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list">
				<li><a href="#" id="filter_who_1" class="filter_who selected" filter-type="who" filter-value="ELEVEUR">Producteurs</a></li>
			</ul>
			<ul class="list list-half">
				<li>
					<a href="#" id="filter_who_group_1" class="filter_who selected" filter-type="who" filter-value="ARTISAN,DISTRIBUTEUR,RESTAURANT,RESTAURATION_COLLECTIVE">Distributeurs</a>
					<ul>
						<li><a href="#" id="filter_who_2" class="filter_who selected" filter-type="who" filter-value="ARTISAN">Artisans</a></li>
						<li><a href="#" id="filter_who_3" class="filter_who selected" filter-type="who" filter-value="SUPERMARCHE">Supermarchés</a></li>
						<li><a href="#" id="filter_who_4" class="filter_who selected" filter-type="who" filter-value="DRIVE">Marché Drive</a></li>
						<li><a href="#" id="filter_who_5" class="filter_who selected" filter-type="who" filter-value="AMAP">AMAP</a></li>
						<li><a href="#" id="filter_who_6" class="filter_who selected" filter-type="who" filter-value="RESTAURANT">Restaurants</a></li>
						<li><a href="#" id="filter_who_7" class="filter_who selected" filter-type="who" filter-value="RESTAURATION_COLLECTIVE">Restauration collective</a></li>	
					</ul>
				</li>
				<li>
					<a href="#" id="filter_who_group_2" class="filter_who selected" filter-type="who" filter-value="ABATTOIR,NEGOCIANT,FILIERE">Intermédiaires</a>
					<ul>
						<li><a href="#" id="filter_who_8" class="filter_who selected" filter-type="who" filter-value="ABATTOIR">Abattoirs</a></li>
						<li><a href="#" id="filter_who_9" class="filter_who selected" filter-type="who" filter-value="NEGOCIANT">Négociants</a></li>
						<li><a href="#" id="filter_who_10" class="filter_who selected" filter-type="who" filter-value="FILIERE">Labels</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div id="filters-where" class="slide">
		<div class="bar">
			<label>Où ?</label>
			<a href="#" id="filter_where_all" filter-type="where" filter-value="all">Tous</a>
			<a href="#" id="filter_where_nothing" filter-type="where" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<div id="localization_bar">
				<div class="left"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
				<input id="localization_input" type="text" value="" />
			</div>
			<div id="mapFr"></div>
		</div>
	</div>
	
	
	<div id="filters-nav">
		<a href="#" class="nav-left"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Label ?</span></a>
		<a href="#" class="nav-right"><span>Qui ?</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div>
	<a href="#" id="filters-ok"><i class="fa fa-check" aria-hidden="true"></i></a>
</div>
<div id="filters-results">
	<div class="infos">
		<h3>750 résultats a 50 km autour de vous</h3>
		<div>
		
		</div>
	</div>
	<a class="toogle" href="#">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
</div>
<div id="filters-details">
	<a class="toogle" href="#">
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</a>
	<h2>Votre recherche</h2>
	<h3>750 résultats a 50 km autour de vous</h3>
	<div class="infos">
	
	</div>
</div>