<div id="filters">
	<div id="filters-label" class="slide">
		<div class="bar">
			<label>Quoi ?</label>
			<a href="#" id="filter_label_all" filter-type="label" filter-value="all">Tous</a>
			<a href="#" id="filter_label_nothing" filter-type="label" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list">
				<li><a href="#" id="filter_label_1" class="filter_label selected" filter-type="label" filter-value="1">Le Boeuf Blond d'Aquitaine</a></li>
				<li><a href="#" id="filter_label_2" class="filter_label selected" filter-type="label" filter-value="2">La Blonde d'Aquitaine de nos Villages</a></li>
				<li><a href="#" id="filter_label_3" class="filter_label selected" filter-type="label" filter-value="3">Le Boeuf de paysans</a></li>
			</ul>
		</div>
	</div>
	<div id="filters-what" class="slide">
		<div class="bar">
			<label>Quoi ?</label>
			<a href="#" id="filter_what_all" filter-type="what" filter-value="all">Tous</a>
			<a href="#" id="filter_what_nothing" filter-type="what" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list list-tiers">
				<li>
					<a href="#" id="filter_what_group_1" class="filter_what selected" filter-type="what" filter-value="group">Viande</a>
					<ul>
						<li><a href="#" id="filter_what_1" class="filter_what selected" filter-type="what" filter-value="1">Boeuf</a></li>
						<li><a href="#" id="filter_what_2" class="filter_what selected" filter-type="what" filter-value="2">Veau</a></li>
						<li><a href="#" id="filter_what_3" class="filter_what selected" filter-type="what" filter-value="3">Porc</a></li>
						<li><a href="#" id="filter_what_4" class="filter_what selected" filter-type="what" filter-value="4">Mouton</a></li>
						<li><a href="#" id="filter_what_5" class="filter_what selected" filter-type="what" filter-value="5">Agneau</a></li>
			 		</ul>
			 	</li>
			 	<li>
					<a href="#" id="filter_what_group_2" class="filter_what selected" filter-type="what" filter-value="group">Volaille</a>
					<ul>
						<li><a href="#" id="filter_what_6" class="filter_what selected" filter-type="what" filter-value="6">Poulet</a></li>
						<li><a href="#" id="filter_what_7" class="filter_what selected" filter-type="what" filter-value="7">Oie</a></li>
						<li><a href="#" id="filter_what_8" class="filter_what selected" filter-type="what" filter-value="8">Canard</a></li>
						<li><a href="#" id="filter_what_9" class="filter_what selected" filter-type="what" filter-value="9">Escargot</a></li>
			 		</ul>
			 	</li>
			 	<li>
					<a href="#" id="filter_what_10" class="filter_what selected" filter-type="what" filter-value="10">Poisson</a>
					<a href="#" id="filter_what_11" class="filter_what selected" filter-type="what" filter-value="11">Legumes</a>
					<a href="#" id="filter_what_12" class="filter_what selected" filter-type="what" filter-value="12">Fruits</a>
					<a href="#" id="filter_what_13" class="filter_what selected" filter-type="what" filter-value="13">Fromage</a>
					<a href="#" id="filter_what_14" class="filter_what selected" filter-type="what" filter-value="15">Pain</a>
			 	</li>
			 </ul>
		</div>
		<a href="#" class="nav-bot"><span>Ou ?</span><br/><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
	</div>	
	<div id="filters-who" class="slide">
		<div class="bar">
			<label>Qui ?</label>
			<a href="#" id="filter_who_all" filter-type="who" filter-value="all">Tous</a>
			<a href="#" id="filter_who_nothing" filter-type="who" filter-value="nothing">Rien</a>
		</div>
		<div class="container_list">
			<ul class="list">
				<li><a href="#" id="filter_who_1" class="filter_who selected" filter-type="who" filter-value="1">Producteurs</a></li>
			</li>
			<ul class="list list-half">
				<li>
					<a href="#" id="filter_who_group_1" class="filter_who selected" filter-type="who" filter-value="group">Distributeurs</a>
					<ul>
						<li><a href="#" id="filter_who_2" class="filter_who selected" filter-type="who" filter-value="2">Artisans</a></li>
						<li><a href="#" id="filter_who_3" class="filter_who selected" filter-type="who" filter-value="3">Supermarchés</a></li>
						<li><a href="#" id="filter_who_4" class="filter_who selected" filter-type="who" filter-value="4">Marché Drive</a></li>
						<li><a href="#" id="filter_who_5" class="filter_who selected" filter-type="who" filter-value="5">AMAP</a></li>
						<li><a href="#" id="filter_who_6" class="filter_who selected" filter-type="who" filter-value="6">Restaurants</a></li>
						<li><a href="#" id="filter_who_7" class="filter_who selected" filter-type="who" filter-value="7">Restauration collective</a></li>	
					</ul>
				</li>
				<li>
					<a href="#" id="filter_who_group_2" class="filter_who selected" filter-type="who" filter-value="group">Intermédiares</a>
					<ul>
						<li><a href="#" id="filter_who_8" class="filter_who selected" filter-type="who" filter-value="8">Abattoirs</a></li>
						<li><a href="#" id="filter_who_9" class="filter_who selected" filter-type="who" filter-value="9">Négociants</a></li>
						<li><a href="#" id="filter_who_10" class="filter_who selected" filter-type="who" filter-value="10">Labels</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="filters-nav">
		<a href="#" class="nav-left"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Label ?</span></a>
		<a href="#" class="nav-right"><span>Qui ?</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div>
</div>