{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Merci</h1>
        </div>
    </div>
    <div class="row">
        <h2>Votre commande a bien été enregistrée.</h2>
    </div>
{% endblock %}
