{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Félicitations et merci !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <img src="/web/images/cde-ok.svg" width="100px"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Votre commande a bien été enregistrée.</h2>
            <p>Vous allez recevoir un email de votre commande avec le récapitulatif complet sur {{ email }}.
                <br><br>
                Si le producteur vous plait pensez à l'ajouter à vos favoris. <br><br>
                Nous vous souhaitons une délicieuse journée.</p>
        </div>
    </div>
{% endblock %}
