{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
<body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block prev %}
{% endblock %}
{% block close %}
{% endblock %}

{% block page_content %}
<div class="content-detail">
    <div class="row rowList">
    	<div class="list_header">
   			<a href="{{ path_for("app.commande.select_livraison") }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Paiement</a>
   		</div>
   		<div class="list_container padding_top">
	   		<form>
				<div class="col-xs-12">
					<div class="form-group">
				    	<label for="card_number">Numéro de carte *</label>
				    	<input type="text" class="form-control" id="card_number" name="card_number" placeholder="XXXX XXXX XXXX XXXX">
				  	</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
				    	<label for="card_expiration">Date d'expiration *</label>
				    	<input type="text" class="form-control" id="card_expiration" name="card_number" placeholder="MM/YY">
				  	</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
				    	<label for="card_crypto">Cryptogramme *</label>
				    	<input type="text" class="form-control" id="card_crypto" name="card_crypto" placeholder="XXX">
				  	</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
				    	<label for="card_name">Prénom Nom sur la carte*</label>
				    	<input type="text" class="form-control" id="card_name" name="card_name" placeholder="Nom Prénom">
				  </div>
				</div>
				<div class="col-xs-12 text-center">
		            <a href="{{ path_for("app.commande.save_commande") }}" class="button button-green button-large button-center button-square" id="button-validate"
		                   type="submit">Payez {{ panier|total }} €</a>
		            <span class="paiement-secure">PAIEMENT SÉCURISÉ</span>
		            <img src="/web/images/paiements.png" />
		        </div>
			</form>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
{% endblock %}