<div class="row rowProduit rowProduitDate">
	<div class="photo">
	   <img src="{{ apiImagePath(produit.photo) }}" class="img-responsive" />
	</div>
	<div class="qty">{{ produit.quantite }}</div>
	<div class="infos">
	    <h3>{{ produit.nom }}</h3>
		<p>{{ produit.accroche }}</p>
	</div>
</div>