{% extends "Entites/detail.html.twig" %}

{% block menu %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <a style="padding-top: 12px" class="btn btn-vert" id="Reserver" type="submit"
               href="{{ path_for("app.entite.reserve_table",{"idEntite":entite.id}) }}">
                Réserver une table
            </a>
        </div>
    </div>
{% endblock %}

{% block membres %}
    <div class="row Entete">
        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 text-center">
        </div>
        <div class="col-xs-12">
            <h3 class="text-center">Ils travaillent avec nous</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="row">
            <div class="col-xs-12">
                <h4>Les Légumes bio :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
                <img src="/web/images/legumes_bio.png" alt="" class="img-responsive" style="display: inline-block">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <ul class="list-unstyled">
                    <li>Alain Vidal à Chaudeyrolles</li>
                    <li>David Chalendard</li>
                    <li>Renaud à Retournac</li>
                    <li>J-Michel Brunel à Solignac</li>
                    <li>Cornut et Oubrier à Yssingeaux</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Porc de Haute Loire :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
                <img src="/web/images/porc_hl.jpeg" alt="" class="img-responsive" style="display: inline-block">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="list-unstyled">
                    <li>Chalendard Dominique et bonnefoy damien à Araules</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Boeuf fin gras du Mézenc :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
                <img src="/web/images/fin_gras.jpeg" alt="" class="img-responsive" style="display: inline-block">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="list-unstyled">
                    <li>Vigouroux Alain abattoir Le Puy pour le veau des monts du Velay</li>
                    <li>Paillet Souvignet Abattoir Yssingeaux</li>
                    <li>Bayle André à Grand Croix</li>
                    <li>Collard Christophe à Bourg Argental</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Veaux de boucheries :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="list-unstyled">
                    <li>Boucheries Mejean Patrice à costaros pour les voeux</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Le cochon de lait :</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="list-unstyled">
                    <li>Dominique Chalendard à St Julien Chapteuil</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Le porc de ferme</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="list-unstyled">
                    <li>Damien Bonnefoy à Araules et Fay/ Lignon.</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

