{% extends "base_entite.html.twig" %}

{% block page_content %}
    {% set action = "add" %}
    <div class="content-detail">
    <div class="row rowHeader">
    	<div class="slider">
    		<div class="slide">
	        	<img src="/web/images/region.png" style="margin-top:-10%;" />
	        </div>
    	</div>
    </div>
    
    <div class="row rowInfos">
        <div class="rowIcons">
	        <div class="avatar">
	           <div style="background-image:url('/web/images/region_logo.png');"></div>
	        </div>
	    </div>
        <div class="col-xs-12">
        	<div class="row">
	        	<div class="col-xs-12 col-sm-7">
		            <h1 class="title">Auvergne-Rhône-Alpes
		            <a href="#certifs" class="fa fa-certificate"><span>8</span></a>
		            </h1>
	    	        <p>
	        	        75 Labels - 30000 Exploitations
	            	</p>
	            </div>
	            <div class="col-xs-12 col-sm-5">
	            	<a href="#blog" class="button button-green"><i class="fa fa-comments" aria-hidden="true"></i><span>ACTUALITES</span></a>
	            </div>
	        </div>
        </div>
    </div>
    <div class="row rowActions IconAction">
        <div class="col-xs-12">
            <ul>
                <li>
                    <a class="" href="tel:">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>Appeler</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.auvergne.fr/" target="_blank">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span>Site Web</span>
                    </a>
                </li>
                 <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Agenda</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row rowDescription">
        <div class="col-xs-12 col-sm-6" id="Description">
            <div class="subscribe col-xs-12">
            	<h3>Abonnez-vous à toutes les informations sur la qualité alimentaire de la région</h3>
            	<a href="">Sur bovimarket</a>
            </div>
            <p style="position:relative;clear: both;">
                <img src="/web/images/specimen.png" style="position:absolute;width:80%;left:10%;top:5%;opacity:0.5;" />
                <b>Objectif 30 % d’agriculteurs bio en plus d’ici 5 ans</b><br/>
				<a href="#">L’agriculture, une priorité régionale</a><br/>
				<br/>
				Le budget alloué par la Région Auvergne-Rhône-Alpes à l’agriculture s’élève à <b>48 millions d’euros pour 2017.</b><br/>
				<br/>
				Il s’articule autour de 3 priorités : <b>la compétitivité des exploitations, la progression de la valeur ajoutée, et une meilleure solidité des exploitations</b> face à la conjoncture et aux aléas climatiques.<br/>
				<br/>
				Le plan régional de développement de l’agriculture biologique, voté par les conseillers régionaux lors de l’assemblée plénière du 17 novembre, est pour sa part doté de <b>plus de 13 millions d’euros sur 5 ans.</b>
            </p>
            
        </div>
        <div class="col-xs-12 col-sm-6">
		    <img src="/web/images/vauquier.png" style="float:left;margin-right:15px;" />
		    <div>
		    « Aujourd’hui dans une cantine, il n’y a même pas 15 % de produits locaux qui sont utilisés. <b>Notre objectif, c’est donc de remettre les produits de la région dans notre assiette, à commencer par l’assiette des lycéens</b>, et en procédant étape par étape. Parce qu’Auvergne-Rhône-Alpes sans l’agriculture, ce ne serait pas Auvergne-Rhône-Alpes ! »<br/>
			<span style="color: #999999;">7 octobre 2016 - Visite du Sommet de l'élevage à Cournon</span>
			</div>
	    </div>
    </div>

	<div class="row rowSocials IconAction">
        <div class="col-xs-12">
            <ul>
                <li>
                    <a class="" href="">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        <span>TWITTER</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <span>LINKEDIN</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <span>FACEBOOK</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span>INSTAGRAM</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        <span>YOUTUBE</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

	<div id="certifs" class="row rowBar">
        <div class="icon">
        	<i class="fa fa-certificate" aria-hidden="true"></i>
        </div>
        <div class="text">
        	<b>Labels qualités de la région</b>
        	<span>84 labels qualités</span>
        </div>
    </div>
    <div class="row rowMap">
    	<div id="map">
    	
    	</div>
    </div>
    <div class="row rowList">
        <div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<a href="/entite/570f67c5e4b046571041e3ba"><img src="http://pro.bovimarket.com:8080/bovimarket/resources/certifications/5672cd8c3584ba1cdcdcf89b.png" class="img-responsive"></a>
            </div>
            <div class="Description text col-xs-7">
            	<h3>L'Agneau de Lozère</h3>
            	<a href="/entite/570f67c5e4b046571041e3ba">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>A</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<a href="/entite/588b46d1e4b0f47eccd6a6af"><img src="/web/images/lentille_puy.png" class="img-responsive"></a>
            </div>
            <div class="Description text col-xs-7">
            	<h3>Lentille Verte du Puy</h3>
            	<a href="/entite/588b46d1e4b0f47eccd6a6af">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>B</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<a href="/entite/588b544ce4b0f47eccd6a6b1"><img src="/web/images/logo-bleu_d_auvergne.png" class="img-responsive"></a>
            </div>
            <div class="Description text col-xs-7">
            	<h3>Bleu d'Auvergne</h3>
            	<a href="/entite/588b544ce4b0f47eccd6a6b1">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>C</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<a href="/entite/588b5754e4b0f47eccd6a6b2"><img src="/web/images/fin_gras.jpeg" class="img-responsive"></a>
            </div>
            <div class="Description text col-xs-7">
            	<h3>Boeuf fin gras du Mézenc</h3>
            	<a href="/entite/588b5754e4b0f47eccd6a6b2">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>D</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<a href="/entite/588b4830e4b0f47eccd6a6b0"><img src="/web/images/reblochon_savoie.png" class="img-responsive"></a>
            </div>
            <div class="Description text col-xs-7">
            	<h3>Reblochon de Savoie</h3>
            	<a href="/entite/588b4830e4b0f47eccd6a6b0">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>E</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<img src="/web/images/volaille_bresse.png" class="img-responsive">
            </div>
            <div class="Description text col-xs-7">
            	<h3>Volaille de Bresse</h3>
            	<a href="#">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>F</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<img src="/web/images/chataigne_ardeche.png" class="img-responsive">
            </div>
            <div class="Description text col-xs-7">
            	<h3>Chataigne de l'ardeche</h3>
            	<a href="#">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>G</span>
            	</div>
            </div>
		</div>
		<div class="col-xs-12 item">
            <div class="col-xs-3 img hide-padding">
            	<img src="/web/images/charolais_bourbonnais.png" class="img-responsive">
            </div>
            <div class="Description text col-xs-7">
            	<h3>Charolais du bourbonnais</h3>
            	<a href="#">En savoir plus</a>
            </div>
            <div class="col-xs-2 marker hide-padding">
            	<div class="marker_label">
            		<img class="img-responsive" src="/web/images/marker.png" />
            		<span>H</span>
            	</div>
            </div>
		</div>
    </div>

   <div id="blog" class="row rowBar">
        <div class="icon">
        	<i class="fa  fa-comments" aria-hidden="true"></i>
        </div>
        <div class="text">
        	<b>Blog et actualités</b>
        	<span>3 actualités</span>
        </div>
    </div>
    <div class="row rowList">
        <div class="post">
			<p class="date">le 12/01/2017</p>
			<p class="titre">Vœux 2017 : Une Région qui innove, une Région qui réussit</p>
            <div class="content">La présentation des vœux organisée à l’Hôtel de région est l’occasion pour le président de la...</div>
		</div>
		<div class="post">
			<p class="date">le 09/01/2017</p>
			<p class="titre">La gare de Perrache fortement perturbée par des travaux</p>
            <div class="content">Du lundi 30 janvier au samedi 8 avril, de gros travaux pour remplacer les aiguillages se dérouleront...</div>
		</div>
		<div class="post">
			<p class="date">le 02/01/2017</p>
			<p class="titre">Musique classique et hip-hop, les retrouvailles du Quatuor Debussy et de la Compagnie käfig</p>
            <div class="content">Boxe Boxe Brazil est le nouveau spectacle de la Compagnie Käfig qui poursuit le travail entamé entre...</div>
		</div>
    </div>
</div>
{% endblock %}

{% block afterMapInit %}
    var bounds = new google.maps.LatLngBounds();
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
	var labelIndex = 0
    var marker_1 = new google.maps.Marker({
		position: new google.maps.LatLng(44.550133,3.289894000000004),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_1.getPosition()) ;
    var marker_2 = new google.maps.Marker({
		position: new google.maps.LatLng(45.03606200000001,3.8837530000000697),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_2.getPosition()) ;
	var marker_3 = new google.maps.Marker({
		position: new google.maps.LatLng(44.985613,4.226836999999932),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_3.getPosition()) ;
	var marker_4 = new google.maps.Marker({
		position: new google.maps.LatLng(46.645112,5.174438900000041),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_4.getPosition()) ;
	var marker_5 = new google.maps.Marker({
		position: new google.maps.LatLng(44.995272,4.516512000000034),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_5.getPosition()) ;
	var marker_6 = new google.maps.Marker({
		position: new google.maps.LatLng(46.584969,3.0576320000000123),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_6.getPosition()) ;
	var marker_7 = new google.maps.Marker({
		position: new google.maps.LatLng(45.4932045,6.472399999999993),
		label: labels[labelIndex++ % labels.length],
		map: map
});
	bounds.extend(marker_7.getPosition()) ;
    map.fitBounds(bounds);

{% endblock %}
