{% extends "Entites/detail.html.twig" %}

{% block lien_fournisseurs %}
    <p class="text-center">
        <a href="#fournisseurs">Nos fournisseurs</a>
    </p>
{% endblock %}


{% block menu %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <a style="padding-top: 12px" class="btn btn-vert" id="Reserver" type="submit"
               href="{{ path_for("app.entite.reserve_table",{"idEntite":entite.id}) }}">
                Réserver une table
            </a>
        </div>
    </div>
{% endblock %}

{% block membres %}
    <div class="row Entete" id="fournisseurs">
        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 text-center">
        </div>
        <div class="col-xs-12">
            <h3 class="text-center">Ils travaillent avec nous</h3>
        </div>
    </div>


    <div class="row Recommande">
        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
                <img src="/web/images/legumes_bio.png" class="img-circle img-responsive">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4 style="">Les Légumes bio</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Alain Vidal à Chaudeyrolles</li>
                    <li>David Chalendard</li>
                    <li>Renaud à Retournac</li>
                    <li>J-Michel Brunel à Solignac</li>
                    <li>Cornut et Oubrier à Yssingeaux</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
                <img src="/web/images/porc_hl.jpeg" class="img-circle img-responsive">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4>Porc de Haute Loire</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Chalendard Dominique et bonnefoy damien à Araules</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
                <img src="/web/images/fin_gras.jpeg" class="img-circle img-responsive">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4>Boeuf fin gras du Mézenc</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Vigouroux Alain abattoir Le Puy pour le veau des monts du Velay</li>
                    <li>Paillet Souvignet Abattoir Yssingeaux</li>
                    <li>Bayle André à Grand Croix</li>
                    <li>Collard Christophe à Bourg Argental</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4>Veaux de boucheries</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Boucheries Mejean Patrice à costaros pour les voeux</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4>Le cochon de lait</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Dominique Chalendard à St Julien Chapteuil</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-xs-3 col-sm-1">
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 col-sm-9">
                <h4>Le porc de ferme</h4>
                <p class="text-left" style="color: #ffffff">
                <ul class="list-unstyled">
                    <li>Damien Bonnefoy à Araules et Fay/ Lignon.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

