<div class="btn-group dropdown" id="certifications">
    <button type="button" class="btn dropdown-toggle choice-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <var>Qualité</var>
        <input type="hidden" name="search_form[certificationsId]"/>
    </button>
    <ul class="dropdown-menu">
        {% for certif in certifications %}
            <li class="clearfix" data-val="{{ certif.id }}">{{certif.nom}} <a href="{{ path_for("app.entite.detail",{ "id":certif.entiteId}) }}" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        {% endfor %}
    </ul>
</div>