<div class="btn-group dropdown" id="certifications">
    <button type="button" class="btn dropdown-toggle choice-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <var>Qualité</var>
        <input type="hidden" name="search_form[certificationsId]"/>
    </button>
    <ul class="dropdown-menu">
        {% for certif in certifications %}
            <li class="clearfix" data-val="{{ certif.id }}">{{certif.nom}} <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        {% endfor %}
        <!--<li class="clearfix">Agneau de Lozère <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        <li class="clearfix">Boeuf Fin Gras de Mézenc <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        <li class="clearfix">Boeuf Salers LR <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        <li class="clearfix">Boeuf Bio de Haut-Marne <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        <li class="clearfix">Boeuf Blonde des Combrailles <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>
        <li class="clearfix">Porc de Haute-Loire  <a href="label.php" class="btn btn-white pull-right"><i class="fa fa-info-circle"></i></a></li>-->
    </ul>
</div>