<div class="col-xs-6">
    <a style="background-image: url('{{ cuisson.logoPath }}')" class="IconBouillir text-center"
       href="{{ path_for("flash.cuissons_detail",{"categ":morceau.typeViande,"idMorceau":morceau.id,"idCuisson":cuisson.id}) }}">
        {{ cuisson.nom }}
    </a>
</div>