<div class="row rowBar">
    <div class="icon">
    	<i class="fa fa-pie-chart " aria-hidden="true"></i>
    </div>
    <div class="text text-toggle">
    	<b>Le morceau</b>
    	<span>dans l'animal</span>
    </div>
</div>
<div class="row">
    {{ mapDecoupe(morceau) }}
</div>