{% for plat in planning %}
    <div class="col-xs-10 col-xs-offset-1 ListeStyle2">
        <div class="Tof2">
            <a class="link" href="" data-color="#381b26">
                <img src="{{ apiImagePath(plat.menu.photo) }}" alt="..." style="width: auto!important;"/>
            </a>
        </div>
        <div class="Description">
            <p class="Intitule">Plat</p>
            <p class="Nom">{{ plat.menu.nom }}</p>
            <div class="Liste">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="Ingredient">Ingredient</p>
                        <p class="Producteur">Producteur</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="Tof">
                                <a class="link" href="eleveur" data-color="#381b26">
                                    <img src="/web/images/nophoto.png">
                                </a>
                            </div>
                            <div class="Tof">
                                <a class="link" href="filiere" data-color="#381b26">
                                    <img src="/web/images/nophoto.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="col-xs-10 col-xs-offset-1 ListeStyle2">
    Pas de plats enregistrés
</div>
{% endfor %}
