#Description * {
    color: #FFF !important;
}

.ListeStyle2 .difficulte {
    margin-top: 0px;
}

.difficulte.neutre {
    background: url("images/neutre.png") no-repeat;
    background-position: left center;
}

.Qte {
    font-size: 20px;
    color: #5d3043;
    line-height: 75px;
    font-weight: bold;
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.checkbox.pull-right {
    margin: 0;
}

.pl-ziro {
    padding-left: 0px;
}

/** Mon Compte **/
#Menu4.header {
    top: 75px;
    right: 0
}

#Menu4.header {
    background: #5d3043;
}

#Menu4.header a {
    top: 0;
    background: url(images/moi.png) no-repeat center;
}

.mm-opened #Menu4.header a {
    background: url(images/moi.png) no-repeat center #381b26
}

#mon-compte .mm-panels > .mm-panel.mm-hasnavbar {
    background: #381b26;
}

#mon-compte .Tof {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    clear: both;
    float: left;
    background: url(images/nophoto-thmb2.png) center no-repeat;
    background-size: 100%;
}

#mon-compte .Tof img {
    width: 100%;
    height: 100%;
}

#mon-compte a, #mon-compte h2 {
    padding: 5px 0;
    color: #fff;
}

#mon-compte p {
    padding: 0;
    float:;
}

#mon-compte .Description {
    float: left;
    padding: 10px 20px;
}

#mon-compte .Description .Nom {
    font-weight: 500;
    float: none;
    padding: 15px 0;
}

#mon-compte .Description .Fonction {
    font-size: 18px;
    font-style: italic;
}

.text-important {
    font-size: 1.6em;
    color: #5d3043;
    font-weight: bold;
}

#presentation {
    margin-top: 50px;
}

#inscript {
    margin-top: 50px;
}

#inscript .btn {
    line-height: 38px;
}

.btn-violet {
    height: 55px;
    background: #5d3043;
    color: #fff;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.btn-violet:hover {
    color: #8cae08;
}

.btn-violet i {
    color: #fff !important;
}

.btn-fb {
    height: 55px;
    display: block;
}

.btn-fb img {
    height: 100%;
}

#decoupeWrapper {
    width: 769px;
    max-width: 769px;
    margin: 0 auto;
}

#decoupeWrapper .row {
    margin: 0px;
}

.marinade {
    background: url(images/marinade.png) no-repeat center left;
    padding: 15px 15px 15px 40px;
    font-size: 18px;
}

.repos {
    background: url(images/repos.png) no-repeat center left;
    padding: 15px 15px 15px 40px;
    font-size: 18px;
}

.trempage {
    background: url(images/trempage.png) no-repeat center left;
    padding: 15px 15px 15px 40px;
    font-size: 18px;
}

.RecetteLine .Nom {
    font-weight: 500;
    float: none;
    padding: 0;
    font-size: 20px;
}

.RecetteLine .difficulte{
    background-position: left 14px;
}

.ListeStyle{
    border-bottom: 1px solid #ececec;
    padding: 0px 0px;
}

.Supprimer a  {height: 75px;width: auto !important;background: url(images/Sup.png) no-repeat center #fff;display: block;}

.btn-primary{
    background: #FFFFFF;
    border: solid 1px #cccccc;
}

.btn-primary:hover{
    background: #FFFFFF;
    border: solid 1px #555555;
}

.btn-primary i{
    color: #5d3043;
}

.Entete{
    background: #FFF;
    color: #5d3043;
    margin-top:20px;
    margin-bottom: 20px;
}