#Description *{
    color: #FFF !important;
}

.difficulte{
    margin-top:25px;
}

.difficulte.neutre{
    background: url("/images/neutre.png") no-repeat;
    background-position: center left;
}

.Qte{
    font-size:20px;
    color: #5d3043;
    line-height: 75px;
    font-weight:bold;
}